<md-toolbar
    layout="row"
    layout-align="start center"
    style="background-color:#2c3e50;">
    <div class="md-toolbar-tools">
      <md-button  class="md-icon-button" hide-gt-md aria-label="Show Menu"
        ng-click="$parent.toggleSidenav('numa-admin-sidenav')" >
        <md-icon md-svg-icon="navigation:ic_menu_24px" style="color:white;"></md-icon>
      </md-button>
      <h2><span>Dashboard</span></h2>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-content layout="row" layout-wrap layout-padding flex>
    <md-list flex>
      <md-list-item class="md-2-line" ng-repeat="product in products">
        <md-icon md-svg-icon="content:ic_create_24px"></md-icon>
        <div class="md-list-item-text">
          <h3>{{ product.name }}</h3>
          <p>{{ product.desc }}</p>
        </div>
      </md-list-item>
    </md-list>
  </md-content>